html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  display: flex;
}

p {
  color: #444;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 100px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-browser-support {
  display: none;
  font-size: 1.2rem;
  color: #e64427;
  margin-top: 35px;
}

.app {
  margin: 40px auto;
}

/* github octocat icon */
/* Original source from here: */
/* https://github.com/tholman/github-corners */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 50px 25px;
  }
}